<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2>Objects Table</h2>

<table id="objectList">

</table>

userId:
<div id="userId" th:text="${userId}">userId</div>

<form action="#">
    <input id="city" placeholder="City">
    <input id="street" placeholder="Street">
    <input id="house" placeholder="House">
    <input id="apartment" placeholder="Apartment #">
    <select id="service" name="service">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
    </select>
    <button onclick="createObject()">Create Object</button>
</form>

<script>
    function deleteObject(objectId) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://localhost:8080/users/objects/" + objectId, true);
        xhttp.send();
        loadObjects();
    }

    function createObject() {
        var userId = document.getElementById("userId").value;
        var city = document.getElementById("city").value;
        var street = document.getElementById("street").value;
        var house = document.getElementById("house").value;
        var apartment = document.getElementById("apartment").value;

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "http://localhost:8080/users/objects");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify({
            userId:userId, city: city, street: street, house: house, apartment:apartment}));

        loadObjects();
    }

    function loadObjects() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                var objects = JSON.parse(this.responseText);
                var html = '<tr>\n' +
                    '        <th>Object id</th>\n' +
                    '        <th>City</th>\n' +
                    '        <th>Street</th>\n' +
                    '        <th>House</th>\n' +
                    '        <th>Apartment</th>\n' +
                    '        <th>Delete</th>\n' +
                    '    </tr>';
                for (var i = 0; i < objects.length; i++) {
                    var object = objects[i];
                    console.log(object);
                    html = html + '<tr><td>' + object.id + '</td>\n' +
                        '        <td>' + object.city + '</td>\n' +
                        '        <td>' + object.street + '</td>\n' +
                        '        <td>' + object.house + '</td>' +
                        '        <td>' + object.apartment + '</td>' +
                        '        <td><button onclick="deleteObject(' + object.id + ')">Delete</button></td></tr>';

                }
                document.getElementById("objectList").innerHTML = "";
                document.getElementById("objectList").innerHTML = html;
            }
        };
        xhttp.open("GET", "http://localhost:8080/users/objects/findAll", true);
        xhttp.send();
    }

    loadObjects();
</script>
</body>
</html>